@import url(_footer.scss);
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu ul {
  letter-spacing: normal;
}
.menu li {
  background-color: red;
}

li {
    font-size: 30px;
    list-style-type: none;
    text-decoration: underline;
}